.alice-carousel {
   margin-bottom: 15px;
  }

.alice-carousel__stage-item {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }

 .alice-carousel__stage-item {
     margin: 5px;
 }

 .alice-carousel .alice-carousel__prev-btn {
    width: 10px;
    position: absolute;
    left: -25px;
    top: 5px;
 }

 .alice-carousel .alice-carousel__next-btn {
    width: 10px;
    position: absolute;
    right: -5px;
    top: 5px;
 }

 .alice-carousel__stage .alice-carousel__stage-item {
     margin: 0 5px;
 }